{% extends 'admin/master.html' %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_flask_admin.css') }}">
{% endblock %}

{% block body %}
    <h1>Đây là trang hướng dẫn cách thêm dữ liệu cho admin</h1>
    <br>
    <table class="table talbe-responsive-md table-striped">
        <thead class="thead-dark">
            <th>STT</th>
            <th>Nội dung</th>
            <th>Điều kiện tiên quyết</th>
        </thead>
        <tr>
            <td>1</td>
            <td>Sân bay</td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Máy bay</td>
            <td>Phải có thông tin hạng ghế</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ghế</td>
            <td>Phải có thông tin hạng ghế, thông tin máy bay</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Hạng Ghế</td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Đường bay</td>
            <td>Phải có thông tin sân bay</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Sân bay trung gian</td>
            <td>Phải có thông tin sân bay, đường bay</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Chuyến bay</td>
            <td>Phải có thông tin máy bay, đường bay</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Vai trò người dùng</td>
            <td></td>
        </tr>
        <tr>
            <td>9</td>
            <td>Nhân viên</td>
            <td>Phải có thông tin vai trò người dùng</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Account</td>
            <td>Phải có thông tin nhân viên</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Khách hàng</td>
            <td></td>
        </tr>
        <tr>
            <td>12</td>
            <td>Phiếu đặt chỗ</td>
            <td>Phải có thông tin ghế, khách hàng</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Vé</td>
            <td>Phải có thông tin chuyến bay, vé, hóa đơn</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Hóa đơn</td>
            <td>Phải có thông tin khách hàng, nhân viên</td>
        </tr>
    </table>
{% endblock %}