{% extends 'index.html' %}

{% block title %}
<title>Thông tin chuyến bay</title>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <a class="navbar-brand" href="
    {% if current_user.is_authenticated and not khach_hang %}
    {{ url_for('index1') }}
    {% else %}
    {{ url_for('index') }}
    {% endif %}
    ">FORBEE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="
                {% if current_user.is_authenticated and not khach_hang %}
                {{ url_for('index1') }}
                {% else %}
                {{ url_for('index') }}
                {% endif %}
                ">Trang chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('tim_chuyen_bay') }}">Chuyến bay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Đặt vé</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Liên hệ</a>
            </li>
            {% if current_user.is_authenticated and not khach_hang %}
            <!--                <li><a class="text-light btn btn-primary" href="{{ url_for('register1') }}">Đăng ký</a></li>-->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Đăng xuất</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('profile') }}">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('confirm') }}">Ghi nhận đặt vé</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block right %}
<div class="col-md-12 col-lg-9" style="padding:50px">
    {% if chuyenbay %}
    <h1 class="text-primary text-center">Thông tin chuyến bay</h1>
    <table class="table table-responsive">
        <tr class="text-primary">
            <td>Mã chuyến bay</td>
            <td>Máy bay</td>
            <td>Đường bay</td>
            <td>Sân bay đi</td>
            <td>Sân bay đến</td>
            <td>Ngày khởi hành</td>
            <td>Ghế hạng 1</td>
            <td>Ghế hạng 2</td>
        </tr>
        {% for cb in chuyenbay %}
        <tr>
            <td><a href="{{ url_for('chi_tiet', id=cb.id_chuyen_bay) }}">{{ cb.id_chuyen_bay }}</a></td>
            <td>{{ cb.name }}</td>
            <td>{{ cb.noidi }} - {{ cb.noiden }}</td>
            <td>{{ cb.sanbaydi }}</td>
            <td>{{ cb.sanbayden }}</td>
            <td>{{ cb.ngay_khoi_hanh.strftime('%d-%m-%Y %H:%M %A') }}</td>
            <td>{{ cb.ghe_hang_1 }}</td>
            <td>{{ cb.ghe_hang_2 }}</td>
        </tr>
        {% endfor %}
    </table>
    <img style="width:100%"
         src="https://image.freepik.com/free-vector/couple-going-holiday-vacation-illustration_335657-441.jpg" alt="">
    {% else %}
    <h1 class="text-center text-danger">404</h1>
    <p class="text-center align-middle">Không có thông tin chuyến bay</p>
    <div class="text-center"><a class="btn btn-primary" href="
    {% if current_user.is_authenticated and not khach_hang %}
    {{ url_for('index1') }}
    {% else %}
    {{ url_for('index') }}
    {% endif %}
    ">Trang chủ</a></div>
    <img style="width:100%"
         src="https://image.freepik.com/free-vector/tiny-people-examining-operating-system-error-warning-web-page-isolated-flat-illustration_74855-11104.jpg"
         alt="">
    {% endif %}
</div>
{% endblock %}