{% extends 'index.html' %}

{% block title %}
<title>Ghi nhận đặt vé</title>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <a class="navbar-brand" href="
  {% if current_user.is_authenticated and not khach_hang %}
  {{ url_for('index1') }}
  {% else %}
  {{ url_for('index') }}
  {% endif %}
  ">FORBEE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="
        {% if current_user.is_authenticated and not khach_hang %}
        {{ url_for('index1') }}
        {% else %}
        {{ url_for('index') }}
        {% endif %}
        ">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('tim_chuyen_bay') }}">Chuyến bay</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Đặt vé</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Liên hệ</a>
      </li>
      {% if current_user.is_authenticated and not khach_hang %}
      <!--                <li><a class="text-light btn btn-primary" href="{{ url_for('register1') }}">Đăng ký</a></li>-->
      <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Đăng xuất</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('profile') }}">Profile</a></li>
      <li class="nav-item"><a class="nav-link active" href="{{ url_for('confirm') }}">Ghi nhận đặt vé</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}

  <h2 class="text-center" style="margin-top:20px">Danh sách đơn đặt vé chờ xác nhận</h2>

  <table class="table table-responsive-md">
    <tr>
      <th>Khách hàng</th>
      <th>Giới tính</th>
      <th>Địa chỉ</th>
      <th>Điện thoại</th>
      <th>Email</th>
      <th>Ghế</th>
      <th>Chuyến bay</th>
      <th>Đường bay</th>
      <th>Máy bay</th>
    </tr>

    {% if phieu_dat_cho %}
      <form action="{{ url_for('confirm') }}" method="post" id="myForm">
          {% for x in phieu_dat_cho %}
          <tr>
            <td>{{ x.name }}</td>
            <td>{{ x.gioi_tinh }}</td>
            <td>{{ x.dia_chi }}</td>
            <td>{{ x.sdt }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.ghe }}</td>
            <td>{{ x.id_chuyen_bay }}</td>
            <td>{{ x.sanbaydi }} - {{ x.sanbayden }}</td>
            <td>{{ x.maybay }}</td>
                <td>
                  <input class="btn btn-success" type="submit" name="submit" value="success{{ x.id }}">
                </td>
                <td>
                  <input class="btn btn-danger" type="submit" name="submit" value="fail{{ x.id }}">
                </td>

          </tr>
          {% endfor %}
      </form>
    {% endif %}


  </table>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}