<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Trang chủ</title>
    {% endblock %}
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/jquery.inputmask.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/inputmask.min.js') }}"></script>

    {% block head_css %}
    {% endblock %}
</head>
<body>
    {% if not current_user.is_authenticated and not khach_hang %}
    <div class="container" id="login">
        <h2 class="text-center text-warning">ĐĂNG NHẬP</h2>
        <form action="{{ url_for('index1') }}" method="post">
            <div class="form-group">
                <label for="" class="text-light">Tài khoản</label>
                <input type="text" class="form-control" name="username">
                <i class="fa fa-user"></i>
            </div>
            <div class="form-group">
                <label for="" class="text-light">Mật khẩu</label>
                <input type="password" class="form-control" name="password">
                <i class="fa fa-key"></i>
            </div>
            <div class="form-group">
                <label for=""></label>
                <input type="submit" class="btn btn-warning form-control" value="Đăng nhập">
            </div>
            <div class="form-group">
                <a class="text-primary text-center" href="{{ url_for('register1') }}">Chưa có tài khoản?</a>
            </div>
        </form>
    </div>
    {% else %}
    <div>
        <div class="row m-0">
            <div class="col col-sm-6 col-md-7">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                <h4 class="text-danger">Bán vé chuyến bay</h4>
            </div>
            <div class="col col-sm-6 col-md-5" style="padding:40px 0">
                <h3 class="text-center text-danger">Liên hệ: 0768107704</h3>
            </div>
        </div>
        {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
            <a class="navbar-brand" href="
            {% if current_user.is_authenticated and not khach_hang %}
            {{ url_for('index1') }}
            {% else %}
            {{ url_for('index') }}
            {% endif %}
            ">FORBEE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="
                        {% if current_user.is_authenticated and not khach_hang %}
                        {{ url_for('index1') }}
                        {% else %}
                        {{ url_for('index') }}
                        {% endif %}
                        ">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('tim_chuyen_bay') }}">Chuyến bay</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Đặt vé</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                    {% if current_user.is_authenticated and not khach_hang %}
<!--                <li><a class="text-light btn btn-primary" href="{{ url_for('register1') }}">Đăng ký</a></li>-->
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Đăng xuất</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('profile') }}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('confirm') }}">Ghi nhận đặt vé</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

<!--        <nav class="row m-0">-->
<!--            <ul style="display:flex; list-style:none">-->
<!--                <li><a class="text-light btn btn-primary active" href="-->
<!--                {% if current_user.is_authenticated and not khach_hang %}-->
<!--                {{ url_for('index1') }}-->
<!--                {% else %}-->
<!--                {{ url_for('index') }}-->
<!--                {% endif %}-->
<!--                ">Trang chủ</a></li>-->
<!--                <li><a class="text-light btn btn-primary" href="{{ url_for('tim_chuyen_bay') }}">Chuyến bay</a></li>-->
<!--                <li><a class="text-light btn btn-primary" href="">Đặt vé</a></li>-->
<!--                <li><a class="text-light btn btn-primary" href="">Liên hệ</a></li>-->
<!--                {% if current_user.is_authenticated and not khach_hang %}-->
<!--&lt;!&ndash;                <li><a class="text-light btn btn-primary" href="{{ url_for('register1') }}">Đăng ký</a></li>&ndash;&gt;-->
<!--                <li><a class="text-light btn btn-primary" href="{{ url_for('logout') }}">Đăng xuất</a></li>-->
<!--                <li><a class="text-light btn btn-primary" href="{{ url_for('profile') }}">Profile</a></li>-->
<!--                {% endif %}-->
<!--            </ul>-->
<!--        </nav>-->
        {% endblock %}

        {% block content %}
        <div class="row m-0">
            <div class="col-md-12 col-lg-3" style="background: #f5f5f5;">
                <div class="row m-0 text-center" style="padding:20px 0">
                    <img class="col col-lg-2" style="max-width:80px; max-height:50px"
                         src="https://icons.iconarchive.com/icons/martz90/circle-addon2/512/plane-flight-icon.png" alt="">
                    <h2 class="col col-lg-auto text-primary">Tìm chuyến bay</h2>
                </div>
                <div>
                    <form action="{{ url_for('tim_chuyen_bay') }}" method="post">
                        <div class="form-group">
                            <label for="from">Nơi đi</label>
                            <input type="text" name="from" id="from" placeholder="Nơi di" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="to">Nơi đến</label>
                            <input type="text" name="to" id="to" placeholder="Nơi đến" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="date">Ngày khởi hành</label>
                            <input type="date" name="date" id="date" class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Tìm kiếm">
                        </div>
                    </form>
                </div>
            </div>
            {% block right %}
            <div class="col-md-12 col-lg-9" style="padding:50px">
                <h2>Chuyến bay được ưa thích</h2>
                <hr>
                <div class="row m-0">

                    {% if chuyen_bay %}
                        {% for cb in chuyen_bay %}
                        <div class="col-12 col-lg-4 col-md-12" style="margin-top: 20px">
                            <img src="{{ url_for('static', filename='images/mt-1307-content-bg01.jpg') }}" alt="" width="100%">
                            <h4>{{ cb.noidi }} - {{ cb.noiden }}</h4>
                            <p>Khởi hành: {{ cb.ngay_khoi_hanh.day }} - {{ cb.ngay_khoi_hanh.month }} - {{ cb.ngay_khoi_hanh.year }}</p>
                            <a href="{{ url_for('chi_tiet', id=cb.id_chuyen_bay) }}" class="btn btn-primary">Đặt ngay</a>
                        </div>
                        {% endfor %}
                    {% endif %}

<!--                    <div class="col col-sm-4">-->
<!--                        <img src="{{ url_for('static', filename='images/mt-1307-content-bg04.jpg') }}" alt="" width="100%">-->
<!--                        <h4>HCM đến Hà Nội</h4>-->
<!--                        <p>Khởi hành:</p>-->
<!--                        <a href="" class="btn btn-primary">ĐẶT NGAY</a>-->
<!--                    </div>-->

<!--                    <div class="col col-sm-4">-->
<!--                        <img src="{{ url_for('static', filename='images/mt-1307-content-bg04.jpg') }}" alt="" width="100%">-->
<!--                        <h4>HCM đến Hà Nội</h4>-->
<!--                        <p>Khởi hành:</p>-->
<!--                        <a href="" class="btn btn-primary">ĐẶT NGAY</a>-->
<!--                    </div>-->

<!--                    <div class="col col-sm-4">-->
<!--                        <img src="{{ url_for('static', filename='images/mt-1307-content-bg04.jpg') }}" alt="" width="100%">-->
<!--                        <h4>HCM đến Hà Nội</h4>-->
<!--                        <p>Khởi hành:</p>-->
<!--                        <a href="" class="btn btn-primary">ĐẶT NGAY</a>-->
<!--                    </div>-->
                </div>
            </div>
            {% endblock %}
        </div>
        {% endblock %}


    </div>
    {% endif %}

    {% block js %}
    {% endblock %}

</body>
</html>